* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

.h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #fa4a0c;
}

.h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252b42;
    width: 559px;
}

.p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 460px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 378px;
}