.container{
width: 1250px;
margin: auto 0;
}

.div{
width: 884px;
height: 1px;
border: 3px solid #E4E4E4;
background-color: #E4E4E4;
}

.h2{
font-weight: 600;
font-size: 44px;
line-height: 36px;
letter-spacing: 0.1px;
text-align: center;
margin: 60px 0px;
}

.parent{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 150px 0px 150px 280px;
}

.text2{
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
width: 561px;
margin: 17px 0px;
}

.text1{
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
color: #FA4A0C;
}

.text3{
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
color: #737373;
width: 467px;
}

.section-parents{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}











