.body{
display: flex;
align-items: center;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
}
.salom{
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
color: #FA4A0C;
}
.qalesan{
    width: 559px;
height: 134px;
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
}
.yahshi{
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
width: 460px;
height: 76px;
}